#footer {
    overflow: hidden;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        background-color: #1a1919;

        h4 {
            text-align: center;
            color: #ababab;
        }
    }
}
