#technologies {
    .container {
        padding: 80px 10%;

        
        .technologies-container {
            padding: 80px 0;
            margin: 2% 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; // Idinagdag para sa pantay na espasyo sa pagitan ng mga content boxes

            .sub-title {
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 3%;
                color: #712C91;
                width:100%; // Idinagdag para siguraduhing kumukuha ito ng buong lapad
            }

            .technologies-container_contents {
                
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .technologies-container_main-contents{
                    background-color: #262626;
                    width: 45%;
                    overflow: hidden;
                    padding: 10px;
                    border-radius: 20px;
                    margin: 10px;

                    .title{
                        width: 100%;;
                    h2{
                        font-size: 30px;
                        text-align: center;
                        }
                    }

                    .images{
                        display:flex;
                        width: 100%;
                        flex-wrap :wrap;
                        justify-content: space-around;

                        img{
                            height:auto; // Binago para mapanatili ang aspect ratio ng mga logo
                            margin :12px; // In-adjust para sa sentro na alignment
                            height: 75px;
                        }
                    }
                }
                
             }
         }
     }
}
